*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;  
    font-family: 'Raleway', sans-serif;
    
}

body {
    background-image: linear-gradient(rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.7)), url("../Img/Abarrotes.jpg");
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}

header{
    z-index: 100;
}

.description{
    height: 25px;
    overflow: hidden;
    transition: height .5 ease-in .5;
}

.description:hover{
    height: 80px;
}

.carrito{
    min-height: 80vh;
    max-width: 1000px;
    margin: 0 auto;
    width: 100%;
}

.tabla_productos{
    display: flex;
}

.tabla_productos > img{
    width: 9rem;
    object-fit: contain;
    margin-right: 20px;
}

.tabla_cantidad > input{
    width: 40px;
    border: none;
    outline: none;
    font-size: 16px;
    font-weight: 600
}
